<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.LFS.Pokemondododooddo"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Pokemon Go And Click</name>

  <description>
      Pokemon Clicker
  </description>

  <author href="ylfs.blogspot.com" email="eqaanonline@gmail.com">
      Taha Badar Games Inc.
  </author>
<icon src="icon.png"/>
</widget>
